@media ( max-width:1199px ) {
.header-left nav.navi.main-nav li a {
  font-size: 12px !important;
  padding: 0 5px;
}
.banner-inner.banner-parallax.banner-parallax-fix {
  min-height: 280px;
}    
    
    .header-mobile .nav-dropdown > ul, .header-mobile .account-dropdown > ul{background-color: #FFF;}
body.home .banner-single-item .banner-parallax{background-size: cover!important;}

.container {
  padding: 0 15px;
} 
.main-nav1 .navi > ul > li{  margin: 5px 8px;} 
body .main-nav1 ul.sub-menu li a{padding: 23px 19px;}

}


@media ( max-width:991px ) {
.banner-inner.banner-parallax-fix .advance-search-header { 
  display: block !important;
}     
    
    .search-bar-section_col{padding: 0px;}    
    .top-bar .top-bar-right.top-nav-area .mobile-nav {
  float: right;
  margin: 5px 0;
} 
.banner-inner.banner-parallax-fix {
    background-size: cover;}    
 
.search-col1 > input[type="submit"]{padding: 11px 5px;}
    
.header-mobile .mobile-nav .nav-dropdown.main-nav-dropdown {
  background-color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}     
    
    .header-mobile  .mobile-nav .main-nav-dropdown .menu-property-locaion {
  float: left;
  height: auto;
  min-height: inherit;padding:5px 10px;
  width: 100%;/*margin-top: 7px;*/
} 
    
.header-mobile  .mobile-nav .main-nav-dropdown .menu-property-locaion .top-selection-city {
  border: 1px solid #ccc;
  float: left;
  padding: 7px;
  width: 100%;
}    
.header-mobile .menu_top_navi > li:nth-child(3) {
  padding: 12px 16px;
}     
    
   .header-mobile .nav-dropdown > ul{box-shadow: none;}
    
.projects_expert .projects_ex {
    padding-left: 40px; }   
    .projects_expert .projects_ex a > img{top: 6px;
    width: 30px;}
    .projects_expert .projects_ex > h5 small, .projects_expert .projects_ex > h5 small, .projects_expert .projects_ex > h6 span{  word-wrap: break-word;}
    .projects_expert > .btn.btn-primary, .request_butttons a.btn{font-size: 11px;}
    .tab_section li{width: 50%;} 
    
    .min_menu_de ul.navbar-nav > li > a{padding: 3px 44px;}    

    .main-nav1, body .top_header01 .user{display: none;}
    body .top_header01 .icon_navi {
  float: left;
  margin-left: 60px;
  margin-right: 0;
  padding-right: 0;
} 
.search-col1 > input[type="submit"] {
  padding: 8px 5px;
} 


} 


@media ( max-width:767px ) {
.search-bar-section_col .search-col1{margin-top: 7px;}
  .ad_filter {
  width: 289px;
} 
    .search-bar-section_col .search-col1{width: 289px;}
    .request_butttons{margin-top: 20px;}
    .detail-bar {
  margin-bottom: 0;
}
    
     .detail-bar .detail-multi-properties.box_shadow_col.mb20.property-description.box_shadow_col.overview_sect.mt20 {margin-top: 0px;}
    .detail-multi-properties {
  float: left;
  margin-top: 20px;
  width: 100%;
} 
    .section-detail-content .col-sm-3 {
  clear: both;
} 
.finance_logos li {
  float: left;
  list-style: outside none none;
  width: 22%;
  margin-bottom: 10px;
} 
    .accord-block .accord-tab{font-size: 12px;}  
    .approximate_cols .accord-tab .expand-icon {
  border: 2px solid #000;
  border-radius: 50%;
  font-size: 10px;
  height: 18px;
  line-height: 16px;
  margin-right: 8px;
  margin-top: 12px;
  width: 18px;
} 
    
    .developers_list_img{width: 100%;margin: 0px;text-align: center;box-shadow: none;}  
    .developers_list_img img{max-width: 100%;}
    .developers_list .media{width: 100%;border: none;padding-bottom: 10px;}
    .developers_list .profile-description > p .read_more{margin-top: 4px;}
    
.min_menu_de ul.navbar-nav > li > a {
    padding: 3px 15px;
} 
    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header{padding: 5px 15px 5px 16px;}  
    .developer_detail_page .developers_list_img{width: 100%;}
    .developer_detail_page .developers_list_img > img {
        height: 260px;} 
    
    .developer_detail_page .developers_list_img {
  width: 100%;
  margin: 0;
  box-shadow: none;
  border-bottom: 1px solid #CCC;
} 
    .developers_list .profile-description table th{font-size: 10px;line-height: normal;}    
.footer.footer-v2 .col-sm-4 { 
  clear: both;
}   
.site_map1 {
  float: left;
  padding: 0 15px;
  text-align: left;
  width: 100%;
  margin-bottom: 13px;
} 
.bottom_navi li {
  float: left!important;
  list-style: outside none none;
  margin: 0;
  padding: 0 8px;
  text-align: left!important;
  width: 100%;
} 
    .bottom_navi li a{ text-align: left!important;float: left!important;}

    .search-col1 > input[type="submit"] {
  padding: 11px 5px;
} 

.top_header_bar .right_header{display: none;}
    
}


@media ( max-width:480px ) {
    .tab_section li{width: 100%;} 
    .tab_section li a .fa {
  border: 1px solid #444;
  border-radius: 50%;
  float: left;
  font-size: 9px;
  height: 18px;
  line-height: 17px;
  margin: 0 9px 4px 0;
  text-align: center;
  width: 18px;
} 
}