@media ( max-width:1199px ) {
.header-left nav.navi.main-nav li a {
  font-size: 12px !important;
  padding: 0 5px;
}
.banner-inner.banner-parallax.banner-parallax-fix {
  min-height: 280px;
}    
    
    .header-mobile .nav-dropdown > ul, .header-mobile .account-dropdown > ul{background-color: #FFF;}
body.home .banner-single-item .banner-parallax{background-size: cover!important;}

.container {
  padding: 0 15px;
} 
.main-nav1 .navi > ul > li{  margin: 5px 8px;} 
body .main-nav1 ul.sub-menu li a{padding: 23px 19px;}
    
    .tab_section li a{font-size: 12px;}    
    .tab_section li {
  line-height: 27px;
  padding: 0 16px 0 0;
  width: auto;
} 
    
    form .projects_expert .projects_ex{padding-left: 43px;}   
     form .projects_expert .projects_ex a > img{width: 38px;}
    form .projects_expert  .projects_ex * {
  overflow-wrap: break-word; 
} 

}


@media ( max-width:991px ) {
.banner-inner.banner-parallax-fix .advance-search-header { 
  display: block !important;
}     
    
    .search-bar-section_col{padding: 0px;}    
    .top-bar .top-bar-right.top-nav-area .mobile-nav {
  float: right;
  margin: 5px 0;
} 
.banner-inner.banner-parallax-fix {
    background-size: cover;}    
 
.search-col1 > input[type="submit"]{padding: 11px 5px;}
    
.header-mobile .mobile-nav .nav-dropdown.main-nav-dropdown {
  background-color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}     
    
    .header-mobile  .mobile-nav .main-nav-dropdown .menu-property-locaion {
  float: left;
  height: auto;
  min-height: inherit;padding:5px 10px;
  width: 100%;/*margin-top: 7px;*/
} 
    
.header-mobile  .mobile-nav .main-nav-dropdown .menu-property-locaion .top-selection-city {
  border: 1px solid #ccc;
  float: left;
  padding: 7px;
  width: 100%;
}    
.header-mobile .menu_top_navi > li:nth-child(3) {
  padding: 12px 16px;
}     
    
   .header-mobile .nav-dropdown > ul{box-shadow: none;}
    
.projects_expert .projects_ex {
    padding-left: 40px; }   
    .projects_expert .projects_ex a > img{top: 6px;
    width: 30px;}
    .projects_expert .projects_ex > h5 small, .projects_expert .projects_ex > h5 small, .projects_expert .projects_ex > h6 span{  word-wrap: break-word;}
    .projects_expert > .btn.btn-primary, .request_butttons a.btn{font-size: 11px;}
    .tab_section li{width: 50%;} 
    
    .min_menu_de ul.navbar-nav > li > a{padding: 3px 44px;}    

    .main-nav1, body .top_header01 .user{display: none;}
    body .top_header01 .icon_navi {
  float: left;
  margin-left: 60px;
  margin-right: 0;
  padding-right: 0;
} 
.search-col1 > input[type="submit"] {
  padding: 8px 5px;
} 
    .advanced-search .ui-slider .ui-slider-handle{top: -3px;}     

    .top_header_bar .right_header .top-nav {display: block;}  
    
    .property-listing  .property-item{float: left;width: 100%;display: inline-block;}     
    .property-listing  .property-item > .table-cell{float: left;width: 100%;display: inline-block;}     
    .property-listing  .property-item > .table-cell .figure-block{float: left;width: 100%;display: inline-block;height: auto;}      
    .property-listing  .property-item > .property-item.item-body  {float: left;width: 100%;} 
    .property-listing .property-item > .table-cell {
  display: inline-block;
  float: left;
  padding: 5px 0;
  width: 100%;
} 
    .property-listing .property-item > .table-cell .info-row.info-row_col > .row > .col-sm-9{padding: 0px;}
    .property-listing .info-row_col_right .propet_logos {
  float: left;
  width: 100%;
} 
.property-listing .info-row_col_right .propet_logos a {
  clear: none;
  float: left;
  padding-bottom: 0;
  padding-right: 40px;
  text-align: right;
  width: auto;
}     
    .property-listing .property-item{margin-bottom: 15px;}
    
    .table-responsive {
  overflow-x: auto;
} 
    
    .detail-top_cols > .container > .row > .col-sm-9{width: 100%;}    
    .detail-top_cols > .container > .row > .col-sm-3{width: 100%;}  
    
    .detail-top_cols > .container > .row > .col-sm-3 {
  margin-top: 15px;
  width: 100%;
} 
    
.detail-top_cols + .section-detail-content   .container > .row > .col-sm-9{width: 100%;}   
.detail-top_cols + .section-detail-content   .container > .row > .col-sm-3{width: 100%;margin-top: 18px;}   

.footer .social li{margin-bottom: 7px!important;}

.houzez-header-main.header-section8.header-section-4.not-splash-header.nav-left.hidden-sm.hidden-xs{display: block!important;height: auto;}
.houzez-header-main.header-section8.header-section-4.not-splash-header.nav-left.hidden-sm.hidden-xs .container *{display: none;}
.houzez-header-main.header-section8.header-section-4.not-splash-header.nav-left.hidden-sm.hidden-xs .container .header-left.header-left05{display: block;}
.houzez-header-main.header-section8.header-section-4.not-splash-header.nav-left.hidden-sm.hidden-xs .container .navi.main-nav.top_header{display: none;}
.houzez-header-main.header-section8.header-section-4.not-splash-header.nav-left.hidden-sm.hidden-xs .container #mySidenav{display: block;} 
.houzez-header-main.header-section8.header-section-4.not-splash-header.nav-left.hidden-sm.hidden-xs .container #mySidenav *{display: block;}
.houzez-header-main.header-section8.header-section-4.not-splash-header.nav-left.hidden-sm.hidden-xs .menu_icon{display: block;margin-top: 0px;padding: 6px 0;}
    
.right_header .icon_navi + .account-action {
  display: none;
}      
    
} 


@media ( min-width:768px ){
    .mobile_view{display: none;}     
} 
@media ( max-width:767px ) {
.search-bar-section_col .search-col1{margin-top: 7px;}
  .ad_filter {
  width: 289px;
} 
    .search-bar-section_col .search-col1{width: 289px;}
    .request_butttons{margin-top: 20px;}
    .detail-bar {
  margin-bottom: 0;
}
    
     .detail-bar .detail-multi-properties.box_shadow_col.mb20.property-description.box_shadow_col.overview_sect.mt20 {margin-top: 0px;}
    .detail-multi-properties {
  float: left;
  margin-top: 20px;
  width: 100%;
} 
    .section-detail-content .col-sm-3 {
  clear: both;
} 
.finance_logos li {
  float: left;
  list-style: outside none none;
  width: 22%;
  margin-bottom: 10px;
} 
    .accord-block .accord-tab{font-size: 12px;}  
    .approximate_cols .accord-tab .expand-icon {
  border: 2px solid #000;
  border-radius: 50%;
  font-size: 10px;
  height: 18px;
  line-height: 16px;
  margin-right: 8px;
  margin-top: 12px;
  width: 18px;
} 
    
    .developers_list_img{width: 100%;margin: 0px;text-align: center;box-shadow: none;}  
    .developers_list_img img{max-width: 100%;}
    .developers_list .media{width: 100%;border: none;padding-bottom: 10px;}
    .developers_list .profile-description > p .read_more{margin-top: 4px;}
    
.min_menu_de ul.navbar-nav > li > a {
    padding: 3px 15px;
} 
    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header{padding: 5px 15px 5px 16px;}  
    .developer_detail_page .developers_list_img{width: 100%;}
    .developer_detail_page .developers_list_img > img {
        height: 260px;} 
    
    .developer_detail_page .developers_list_img {
  width: 100%;
  margin: 0;
  box-shadow: none;
  border-bottom: 1px solid #CCC;
} 
    .developers_list .profile-description table th{font-size: 10px;line-height: normal;}    
.footer.footer-v2 .col-sm-4 { 
  clear: both;
}   
.site_map1 {
  float: left;
  padding: 0 15px;
  text-align: left;
  width: 100%;
  margin-bottom: 13px;
} 
.bottom_navi li {
  float: left!important;
  list-style: outside none none;
  margin: 0;
  padding: 0 8px;
  text-align: left!important;
  width: 100%;
} 
    .bottom_navi li a{ text-align: left!important;float: left!important;}

    .search-col1 > input[type="submit"] {
  padding: 11px 5px;
} 

.top_header_bar .right_header{display: none;}
body .home_advanced_sect{padding: 119px 0;}    
    
.top_header_bar .logo.logo-desktop {
  float: left;
  text-align: center;
  width: 100%;
} 
  /*  .header-logo.logo-mobile {visibility: hidden;}*/
    .top-bar.top_header01.top-has-nav {display: none;}
    .realestate_section_col h2{padding: 10px 13px;font-size: 12px;} 
    
    .realestate_section_col h2 small {
   
  font-size: 11px;
  font-weight: 500;
  margin-left: 9px;
} 
    .realestate_section_col h2{position: relative;
    z-index: 1;}      
    
.top-bar.top_header01.top-has-nav {
  display: block;
}   
     /*.top-bar.top_header01.top-has-nav .logo.logo-desktop{display: none}   
   .top-bar.top_header01.top-has-nav .top_header_bar .right_header {
  display: block;
  text-align: center; 
} 
  .top-bar.top_header01.top-has-nav .top_header_bar .right_header .icon_navi{display: none;}*/
   .top-bar.top_header01.top-has-nav .top_header_bar .logo.logo-desktop{display: none;}
    .top-bar.top_header01.top-has-nav .top_header_bar .right_header{display: block;}
    .top-bar.top_header01.top-has-nav .top_header_bar .right_header > .navi.top-nav, .top-bar.top_header01.top-has-nav .top_header_bar .right_header > .icon_navi{display: block;}
    
    .top-bar.top_header01.top-has-nav .top_header_bar .right_header > .mobile-nav{display: none;}
      
    body .top_header01 .icon_navi {
    float: left;
    margin-left: 3px; 
}
    .top_header01 .top_header_bar .icon_navi li a {
  float: left;
  margin: 4px 0 0 3px;
}  
     
body .top_header01 .icon_navi li a img {
  height: 32px;
  width: 32px;
} 
    .top-bar.top_header01.top-has-nav .top_header_bar .right_header{width: 100%;}   
    body .top_header01 .navi.top-nav > ul li > a{font-size: 12px;}
    .modal-dialog {
  margin: 10px 0;
  padding: 5px;
} 
.breadcrumb-top .page-title-left h2 {
  font-size: 13px !important; 
  line-height: 19px !important;
}      
    .breadcrumb-top .breadcrumb li, .breadcrumb-top .breadcrumb li a span, .breadcrumb-top .breadcrumb li a{font-size: 12px!important;}   
    .info-row_col .table td{font-size: 12px;}
    .property-listing .info-row_col_right .propet_logos a {padding-right: 12px;}
    .property-listing .info-row_col_right .propet_logos a > img{width: 80px;}
    
    .modal01 .pop_up_top .btn.btn-primary{font-size: 11px;margin-right: 6px;}
    .modal01 .pop_up_top > p{font-size: 11px;padding-top: 3px;}
    .our-projects > h3, .projects_ex > h5{font-size: 13px;}
    .projects_ex > h5 small, .projects_ex > h6 span {
  margin-left: 0;
} 
    .projects_ex{  padding-top: 2px;}
    .property-listing .info-row_col .table tr td{color: #000;}
    
    .property-listing .info-row_col .table tr td:last-child {
  color: #666;
  font-size: 10px;
  font-weight: normal !important;
} 
    .info-row_col .table td .btn.btn-primary{font-size: 10px;padding: 8px 10px;}  
    #footer-section .mc4wp-form-1251 .mc4wp-form-fields .table-cell .btn.btn-primary{height: 34px;}  
    
    .modal_dv_call_bk .radio {
  float: left;
  margin: 7px 0;
  text-align: left !important;
  width: 100%;
} 
    .modal_dv_call_bk .suitable_time_block .input-append > input{width: 100%;}    
    
   .modal_dv_call_bk .suitable_time_block .row > .col-md-4 {
  margin-bottom: 12px;
  padding: 0;
}   
    .top_slier_info{clear: both;}    
    .detail-top_cols > .container > .row > .col-sm-3{float: left;}
    .top_slier_info .prop_desc_slider > span:first-child{font-size: 14px;}
    .top_slier_info .prop_desc_slider > span:last-child{font-size: 10px;float: left;}
    .top_slier_info .prop_desc_slider{float: left;padding: 5px 14px;}
    
    #specifications.location-advantages > h2.title-left > label {
  clear: both;
  color: #505050;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
} 
    .one_row_table, .one_row_table tr, .one_row_table td, .one_row_table tbody{float: left;width: 100%!important;display: block;}
    body .location-advantages .one_row_table td{border-top: none!important }     
    

.search-bar-section_col .btn.dropdown-toggle.btn-default .filter-option{overflow: visible;}

.bootstrap-select.btn-group .dropdown-toggle .filter-option{line-height: normal;}
.search-bar-section_col .btn.dropdown-toggle.btn-default .fa-sort:before{top: 1px;}

.header-media .banner-caption{z-index: 9;} 

.faq_cols .accord-tab {
  padding-right: 42px;
} 
.faq_cols .accord-tab > h3{font-size: 13px;}
.modal-header .close{width: 33px;} 
    
#specifications .table th h6{padding: 0 !important;}     
    .add-title-tab{height: auto;}     
    
.invoice-area .invoice-list { 
  overflow: auto;
}     
.col-lg-8.col-md-8.col-sm-12.col-xs-12.container-contentbar {
  padding: 0;
}  
    
     
.search-bar-section_col .btn.dropdown-toggle.btn-default{width: auto;}    
 
    
    
.section-detail-content > .container {
  padding: 0;
}
/*.info-row_col .table tr:nth-last-child(1) td:first-child {
  display: none;
} */    
    .property-listing.list-view #houzez_ajax_container{float: left;width: 100%;}      
    #section-body .breadcrumb-top .breadcrumb {
  padding-bottom: 0;
}
    .property-item{padding: 0 8px 13px;} 
    .section-detail-content .property-listing .item-wrap {
        margin-bottom: 3px;}
    .info-row_col .table td h2{margin-bottom: 8px;} 
    
.info-row_col .table tr:nth-last-child(1) td:last-child .btn {
  margin-top: 0;
  position: relative;
  top: 12px;
} 
.info-row_col_right {
  float: left;
  margin-top: -49px;
  text-align: right;
  width: auto;
}  
.property-listing.list-view .property-item .body-left {
    margin-bottom: 0;} 
    #section-body > .container {
  padding: 0 7px;
} 
    
    #section-body > .container  .row   {margin-left: -7px;margin-right: -7px;} 
    
   .section-detail-content  .article-main > hr {
  display: none;
} 
    .section-detail-content .article-main {
  margin-bottom: 0;
}
.detail-bar {
  width: 100%;
} 

.detail-top.detail-top_cols.detail-top-grid + .section-detail-content > .container { 
  padding: 0 15px;
}     
ul.quick_facts_list li {
  font-size: 11px;
  padding-left: 111px;
  position: relative;
} 
    ul.quick_facts_list li span {
  left: 0;
  overflow-wrap: break-word;
  position: absolute;
  white-space: normal;
  width: 107px;
  word-break: break-all;
}

.dasktop-view{display: none;}   
.mobile_view td{width: 50%;}     
#specifications.location-advantages > h2.title-left > label {
  padding-left: 20px;
  position: relative;margin-top: 6px;
}
#specifications.location-advantages > h2.title-left > label input {
  left: 0;
  position: absolute;
  top: -1px;
}    
    
    .list-view .property-item .figure-block .item-thumb > .thumb-caption{text-align: center;}     

body .list-unstyled.actions.pull-right {
  float: none !important;
  margin: 0 auto !important;
  width: auto !important;
}  
body .list-unstyled.actions.pull-right li:first-child {
  padding-left: 0 !important;
}     
.text_colt > .table-responsive {
  border: medium none;
} 
    
    
    .top_slier_info .lSSlideOuter.vertical {padding-right: 0px!important;}
    .top_slier_info .lSPager.lSGallery{display: none!important}
   /* .top_slier_info .lSSlideWrapper img{width: 100%!important}*/
    .top_slier_info .prop_desc_slider{width: 100%;}
    .top_slier_info .prop_desc_slider > span:last-child{width: 100%;}
    
    
    .tab_section li a .fa {
  border: 1px solid #444;
  border-radius: 50%;
  float: left;
  font-size: 8px;
  height: 15px;
  line-height: 13px;
  margin: 0 9px 4px 0;
  text-align: center;
  width: 15px;
} 
    .tab_section li a {
  font-size: 11px;
}
    .tab_section li {
  line-height: 17px;
  padding: 0 0 3px!important; 
  width: 50%!important;
} 
} 





@media ( max-width:480px ) {
    .tab_section li{width: 100%;} 
    .tab_section li a .fa {
  border: 1px solid #444;
  border-radius: 50%;
  float: left;
  font-size: 9px;
  height: 18px;
  line-height: 17px;
  margin: 0 9px 4px 0;
  text-align: center;
  width: 18px;
} 
.tab_section li {
    line-height: 17px;padding-bottom: 3px;} 

}