/*
Theme Name: Houzez
Theme URI: http://themeforest.net/user/favethemes/
Author: Favethemes
Author URI: http://www.favethemes.com/
Description: Houzez is a premium WordPress theme for real estate agents where modern aesthetics are combined with tasteful simplicity, and where the ease of use is achieved without compromise in your ability to customise the design. Whether you are a real estate agent looking to build a website for your company or a web developer seeking a perfect WordPress theme for your next project, you are certain to appreciate the numerous features and benefits that our theme provides.
Version: 1.3.3
Tags: right-sidebar, left-sidebar, custom-colors, custom-menu, featured-images, post-formats, theme-options, translation-ready
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: houzez
*/
.gallery-caption {

}
.agent-detail-block .form-small img {
    width: auto;
}
#sidebar .widget.houzez-impress-idx-login-widget p,
#sidebar .widget.houzez-impress-idx-signup-widget p {
    margin-bottom: 10px;
}

label.error {
    display: none;
}
#myChart {
    height: 400px!important;
    width: 100%!important;
}
#plupload-container{
    overflow: hidden;
}
.single-property .detail-media #gallery .popup-trigger{width:100%!important;}
.single-property .detail-media #gallery .popup-trigger img{width:100%!important;}
 
.label-wrap.offers {
    margin-top: 10px!important;
}
.media.agent-media {
    display: none;
}

.pop_up_top {
    color: #000;
}
.pop_up_top a, .pop_up_top a:hover {
    color: #00aeef;
    font-weight: bold;
}
.projects_ex_right .form_messages {
    color: #00aeef;
    font-weight: bold;
    margin-top: 11px;
    position: relative;
    top: 8px;
}
.row.loan_apply_section {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.loan_apply_section	{
	display: none;
}
.advanced_bar_block{
    display: block;
}
.display-hide {
    display: none;
}
.sliderContainer {
    width: 100%;
    display: block;
}
.tnp.tnp-widget p {
  float: left;
  width: 50%;
}
 .sub-menu {
  width: 100% !important;
}
@media screen and (min-width: 1024px){
    .sticky_nav.nav_stcky_detail {
        left: 90px;
        top: 0;
        width: 64.5%;
}
}
#chatLoginModal{
    z-index: 9999999;
}
.modal-dialog {
    margin: 70px auto 0;
}
/*.modal {
    left: auto;
    right: 0;
}*/ 
.btn.btn-info.btn-lg.applozic-launcher1.mck-button-launcher {
  box-sizing: border-box !important;
}

.mck-icon-chat {
   position: fixed !important;
}
/***** chat ****
.btn.btn-info.btn-lg.applozic-launcher1.mck-button-launcher {
  display: none !important;
}*/


.wp-editor-area{border: 1px solid #CCC!important;} 

.main-nav1 nav ul li .sub-menu {
  opacity: 1 !important;
  visibility:unset;
}

.main-nav1 nav ul li a {
    background-color: #3f9d2f;
    border-radius: 5px;
    color: #fff !important;
}
.list-view .pagination-main {
    display: none;
}
#mplan .close {
  font-size: 33px;
  color:#fff !important;
 }
#mplan {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0 !important;
  z-index: 9999999;
}
#mplan p {
  background: #fff none repeat scroll 0 0 !important;
  margin:10% auto;
  width: 700px;
}
#mplan .close {
  color: #fff !important;
  font-size: 48px;
  margin-right: 34px;
  opacity: 1 !important;
}

#splan .close {
  font-size: 33px;
  color:#fff !important;
 }
#splan {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0 !important;
  z-index: 9999999;
}
#splan p {
  background: #fff none repeat scroll 0 0 !important;
  margin:10% auto;
  width: 700px;
}
#splan .close {
  color: #fff !important;
  font-size: 48px;
  margin-right: 34px;
  opacity: 1 !important;
}

#myModal {
  bottom: 0;
  display: none;
  left: auto;
  outline: 0 none;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: auto;
  width: 320px;
  z-index: 999999999;
}
#myModal .modal-dialog{width:100% !important;}
@media screen and (max-width: 767px){
#mplan p {
  width: 100%;
}
#mplan .close {
  margin-right: 0;
  margin-top: -13px;
}
}
.header-section-4 .navi > ul ul {
  margin-top: 28px;
  top: 100%;
}
.main-nav1 {
    position: relative;
    z-index: 11;
}
.zoomContainer{
  z-index: 99999999;
}
.detail-top .lSSlideOuter .lSPager.lSGallery img {
  min-height: 100px !important;
}
.lslide.active > img {
  width: 100%;
}
.lslide.active > img {
  min-height: 430px;
  width: 100%;
}

.beds_col2.range-bedrooms-main {
  float: left;
  margin: 10px 0 12px 20px;
  width: 90%;
}
.top_slier_info .prop_desc_slider {
  right: 0;
  /*width: 765px;*/
}
@media screen and (min-width: 768px) and (max-width: 980px){
    .top_slier_info .prop_desc_slider {
      right: 0;
      /*width: 615px;*/
    } 
  }

  @media screen and (min-width: 981px) and (max-width: 1199px){
  .top_slier_info .prop_desc_slider {
   right: 0;
   /*width:593px;*/
   }  
}