*{text-decoration: none;list-style: none;}
.header{float: left;width: 100%;background-color: #FFF;padding: 18px 0;}
.logo{float: left;}
.right_header{float: right;}

.top_icon_navi{float: left;margin:0px;padding: 0px;}
.top_icon_navi li {
  float: left;
  margin: 0 11px;
} 
.top_icon_navi li a{ float: left;}

.right_header .dropdown {
  float: left;
  margin-right: 70px;
} 

.top_link {
  float: right;
  margin: 7px 0 0 12px;
  padding: 0;
} 
.top_link li {
  float: left;
  padding: 0 2px;
}
.top_link li a{float: left;color: #444;}

.right_header .dropdown button {
  background: none;
  border: medium none;
  margin-top: 9px;
} 


.min_section_1{float: left;width: 100%;position: relative;overflow: hidden;}
.min_section_1 > h4 {
  bottom: 30px;
  color: #fff;
  font-size: 26px;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: 0 3px 5px #000;z-index: 999;
}  	 
.min_section .col-sm-6{padding: 0px;}
.min_section_1 > img {
  height: 450px;
  object-fit: cover;
  width: 100%;
    
      -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
} 
.min_section_1:hover > img{ -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);}

 

.black_col{background-color: rgba(0,0,0,0.5);position: absolute;top: 0px;bottom: 0px;right: 0px;left: 0px;z-index: 99;}

.footer {
  float: left;
  padding: 30px 0 20px;
  width: 100%;
} 

.footer_col1 {
  border-right: 1px solid #ccc;
  float: left;
  padding: 0;
  width: 100%;
} 

.footer_col1 li{position: relative;padding-left: 28px;margin-bottom: 10px;}
.footer_col1 li .fa{position: absolute;left: 0px;top: 5px;color: #383838;}
.social {
  font-size: 0;
  margin: 0;
  padding: 0;
} 
  .social li {
  display: inline-block;
  font-size: 18px;
  list-style: outside none none;
  margin: 0 7px 0 0 !important;
}

  ul.social li a .fa.fa-facebook {
  background-color: #3b5998;
}
 ul.social li a .fa {
  background-color: #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}
  ul.social li a .fa.fa-twitter {
  background-color: #55acee;
}
 
 ul.social li a .fa.fa-google-plus {
  background-color: #dc4e41;
}
 ul.social li a .fa.fa-linkedin {
  background-color: #007ab9;
} 

.table-list {
    margin-bottom: 15px;
}
.table-list {
  display: table;
  margin-top: 22px;
  width: 100%;
} 
.table-cell {
  display: table-cell;
  vertical-align: top;
}
.input-icon::before {
  color: #959595;
  font-family: "FontAwesome";
  height: 43px;
  left: 0;
  line-height: 43px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 40px;
  z-index: 1;
}
.input-icon {
  position: relative;
}
.input-icon input {
  color: #959595;
  padding-left: 40px !important;
  position: relative;
}

ul.site_map {
  border-right: 1px solid #ccc;
  float: left;
  margin: 0;
  padding: 0;
} 
ul.site_map li{float: left;width: 100%;margin-bottom: 6px;}
ul.site_map li a{color: #393939; float: left;width: 100%;}

ul.site_map , .footer_col1{min-height: 150px;}

.subscribe_heding {
  margin: 14px 0 -15px;
  padding: 0;
} 

.copy_right{float:left;width: 100%;}

.copy_right p {
  text-align: center;
} 







/*-RESPONSIVE CSS-*/
@media ( max-width:991px ) {
.top_icon_navi li {
  float: left;
  margin: 0 4px;
}
    .right_header .dropdown {
  float: left;
  margin-right: 30px;
} 
.top_socil {
  float: left;
  width: 100%;
} 
ul.site_map, .footer_col1 {
  min-height: inherit;
} 
    .footer_col1, ul.site_map{border: none;}
    ul.site_map {
  margin: 10px 0;
} 
  
}


@media ( max-width:767px ) {
      .right_header {
  float: right;
  text-align: center;
  width: 100%;
} 
    .logo {
  float: left;
  text-align: center;
  width: 100%;
} 
    .right_header .dropdown {
  float: left;
  margin-right: 0;
  width: 100%;
} 
    .right_header .dropdown .dropdown-menu{width: 100%;}
    .top_icon_navi {
  display: inline-block;
  float: none;
  margin: 11px auto 0;
  padding: 0;
} 
    .top_link {
  clear: both;
  display: inline-block;
  float: none;
  margin: 3px auto 0;
}  
    .min_section_1 > img {
  height: inherit;
  object-fit: cover;
  width: 100%;
} 
}


/*-RESPONSIVE CSS END-*/