/*
Theme Name: Houzez
Theme URI: http://themeforest.net/user/favethemes/
Author: Favethemes
Author URI: http://www.favethemes.com/
Description: Houzez is a premium WordPress theme for real estate agents where modern aesthetics are combined with tasteful simplicity, and where the ease of use is achieved without compromise in your ability to customise the design. Whether you are a real estate agent looking to build a website for your company or a web developer seeking a perfect WordPress theme for your next project, you are certain to appreciate the numerous features and benefits that our theme provides.
Version: 1.3.3
Tags: right-sidebar, left-sidebar, custom-colors, custom-menu, featured-images, post-formats, theme-options, translation-ready
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: houzez
*/
.gallery-caption {

}
.agent-detail-block .form-small img {
    width: auto;
}
#sidebar .widget.houzez-impress-idx-login-widget p,
#sidebar .widget.houzez-impress-idx-signup-widget p {
    margin-bottom: 10px;
}

label.error {
    display: none;
}
#myChart {
    height: 400px!important;
    width: 100%!important;
}
#plupload-container{
    overflow: hidden;
}
.single-property .detail-media #gallery .popup-trigger{width:100%!important;}
.single-property .detail-media #gallery .popup-trigger img{width:100%!important;}
 
.label-wrap.offers {
    margin-top: 10px!important;
}
.media.agent-media {
    display: none;
}

.pop_up_top {
    color: #000;
}
.pop_up_top a, .pop_up_top a:hover {
    color: #00aeef;
    font-weight: bold;
}
.projects_ex_right .form_messages {
    color: #00aeef;
    font-weight: bold;
    margin-top: 11px;
    position: relative;
    top: 8px;
}
.row.loan_apply_section {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.loan_apply_section	{
	display: none;
}
.advanced_bar_block{
    display: block;
}
.display-hide {
    display: none;
}
.sliderContainer {
    width: 100%;
    display: block;
}
.sticky_nav.nav_stcky_detail {
    left: 90px;
    top: 0;
    width: 64.5%;
}
#main-nav .sub-menu {
  top: 18px !important;
  width: 100% !important;
}